<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Robot World</title>
  </head>
  <body class="dashboard-body">
    <h1 class="welcome">Welcome to Robot World!</h1>
    <ul class="dashboard-links">
    <li><a href="/robots"> Take a look at all of our robots.</a></li>
    <li><a href="/robots/new">Make a new robot of your own!</a></li>
  </ul>
  <div class="well col-md-10 col-md-offset-1 text-center">
    <h1 class="dashboard-info">Interesting Facts About Our Robots</h1>
    <p>
      We make many different robots here at Robot World. Below are a few interesting statistics on the models currently in production.
    </p>
    <div class="container">
      <div class="well col-md-4 text-left" id="age">
        <h5>Average Age of Our Working Robots</h5>
        <p><%= @robot_world.avg_robot_age %></p>
      </div>
      <div class="well col-md-4 col-md-offset-1 text-left" id="year">
        <h5>Robots Hired in Each Year</h5>
        <% @robot_world.hired_each_year.each do |year| %>
        <p> <%= year %> </p>
        <% end %>
        <!-- <p><%= @robot_world.hired_each_year %></p> -->
      </div>
    </div>
    <div class="well col-md-4 text-left" id="department">
      <h5>Number of Robots per Department</h5>
      <% @robot_world.per_department.each do |department| %>
      <p> <%= department %> </p>
      <% end %>
      <!-- <p><%= @robot_world.per_department.join %></p> -->
    </div>
    <div class="well col-md-4 text-left" id="city">
      <h5>Number of Robots per City</h5>
      <% @robot_world.per_city.each do |city| %>
      <p> <%= city %> </p>
      <% end %>
      <!-- <p><%= @robot_world.per_city %></p> -->
    </div>
    <div class="well col-md-4 text-left" id="state">
      <h5>Number of Robots per State</h5>
      <% @robot_world.per_state.each do |state| %>
      <p> <%= state %> </p>
      <% end %>
      <!-- <p><%= @robot_world.per_state %></p> -->
    </div>
  </div>
  </body>
</html>
